body{
    background-color: darkgreen;
    font-family: 'Kozuka Gothic Pr6N', Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: justify;
}
article{
    width: 900px;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
article img{
    width: 900px;
}
#logo{
    width: 170px;
    float: left;
    margin-top: 10px;
}
header div a span{
    float: left;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 40px;
}
nav{
    float: right;
    margin-top: 40px;
}
nav a{
    padding: 15px;
    text-decoration: none;
    color: white;
}
header{
    background-color: black;
    color: white;
    height: 120px;
}
footer{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    line-height: 20px;
    padding-top: 30px;
}